@font-face { font-family: Poppins;
  src: url('../../../Asserts/Font/Poppins-Medium.ttf');
}

.header {
  //border: 1px solid red;
  width: 100%;
  height: auto;
  font-family: 'Poppins';

  .MuiAppBar-colorPrimary {
    background-color: #040825;
  }
}